
:root {
  --duration: 15s;
}

@import url('https://fonts.googleapis.com/css2? family= Patua+One & family= Poppins:wght@400;500;600;700 & family= Roboto:wght@400;700 & exibir=trocar');

button {
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 5;
  background: none;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
}

body {
  background: #131520;
  overflow: hidden;
}

.wrapper-images {
  display: flex;
  flex-direction: column;
  height: 150vh;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  opacity: 0.8;
  transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(10deg)
    rotateX(-10deg);
}

.images-line {
  -webkit-animation: runner var(--duration) linear infinite;
  animation: runner var(--duration) linear infinite;
  display: flex;
  transform: translateX(23%);
}
.images-line:nth-child(even) {
  -webkit-animation-duration: calc(var(--duration) * 1.5);
  animation-duration: calc(var(--duration) * 1.5);
}
.images-line .line {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  height: 29vh;
  margin: clamp(10px, 2vw, 20px);
  width: 20vh;
  position: relative;
  transition: ease-in-out all 0.3s;
  border-radius: 1rem;
}
.images-line .line .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  transition: ease-in-out all 0.3s;
  overflow: hidden;
  border-radius: 1rem;
}
.images-line .line:hover .img {
  cursor: pointer;
  transform: scale(1.1) translatez(0px);
}
.images-line .line:hover:after {
  filter: blur(35px) opacity(0.8);
}
.images-line .line:after {
  content: "";
  background: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 3vh;
  position: absolute;
  background-size: cover;
  z-index: -1;
  transition: ease-in-out all 0.3s;
  filter: blur(25px) opacity(0.8);
}

@-webkit-keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}

@keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}
/*Dev*/
.dev {
  font-family: "Poppins", sans-serif;
  position: fixed;
  font-size: clamp(8px, 3vw, 14px);
  bottom: 1vw;
  left: 1vw;
  padding: 1em;
  color: #111;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  z-index: 100;
}
.dev a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
  transition: ease all 0.3s;
}
.dev a:hover {
  color: #ef5350;
  text-decoration: underline;
}
.dev span {
  display: inline-block;
  transition: ease all 0.3s;
  color: #ef5350;
}
.dev span:hover {
  transform: scale(1.2);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 150px 1fr 80px;
  gap: 1rem;
  height: 100vh;
  width: 1140px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  padding: 40px;
}

/* .container * {
  border: 1px solid white;
} */

.boxFrase {
  display: grid;
  grid-template-rows: 40px 70px;
  background-color: rgba(10,23,55,0.5);
  padding: 2px;
  border-radius: 10px;
}

.fraseMain {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.cardsDownload {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 2.5rem;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  border-color: #ff4900;
  box-shadow: 0px 0px 10px 0px #ff4900;
  background-color: rgba(10,23,55,0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background-color: #222;
}

.titleApp {
  color: #ff6600;
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-size: 43px;
  font-weight: bold;
  line-height: 1em;
}
.imgApp {
  width: 150px;
}
.btnDownload {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #ff4900;
  border-radius: 36px 36px 36px 36px;
  display: inline-block;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}
.btnDownload:hover {
  transform: scale(.9);
}
.contato {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: rgba(10,23,55,0.5);
  font-weight: 700;
  height: 200px;
  text-align: center;
  padding: 1rem;
}

.FaleConosco {
  font-family: 'Patua One';
  font-size: 2.5em;
  color: #ff4900;
}

.whatsBtn {
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff4900;
  border-radius: 133px 133px 133px 133px;
  padding: 20px 20px 20px 20px;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  text-decoration: NONE;
}

.whatsBtn:hover{
  transform: scale(1.1);
}


footer{
  text-align: center;
  color: white;
  font-family: "poppins";
}

@media (max-width: 1140px) {

  html{
    width: 100vw;
  }
  body{
    width: 100%;
    height: fit-content;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 150px 1fr 80px;
    gap: 10px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    padding: 10px;
  }



.boxFrase {
  display: grid;
  grid-template-rows: 40px 70px;
  justify-content: flex-start;
  background-color: rgba(10,23,55,0.5);
  padding: 2px;
  border-radius: 10px;
}

.fraseMain {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px;
}

.cardsDownload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  background-color: rgba(10,23,55,0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background-color: #222;
}

.titleApp {
  color: #ff6600;
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-size: 43px;
  font-weight: bold;
  line-height: 1em;
}
.imgApp {
  width: 300px;
}
.btnDownload {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #ff4900;
  border-radius: 36px 36px 36px 36px;
  display: inline-block;
  line-height: 1;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}
.btnDownload:hover {
  transform: scale(.9);
}
.contato {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: rgba(10,23,55,0.5);
  font-weight: 700;
  height: 200px;
  text-align: center;
  padding: 1rem;
}

.FaleConosco {
  font-family: 'Patua One';
  font-size: 2.5em;
  color: #ff4900;
}

.whatsBtn {
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ff4900;
  border-radius: 133px 133px 133px 133px;
  padding: 20px 20px 20px 20px;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 1rem;
  text-decoration: NONE;
}

.whatsBtn:hover{
  transform: scale(1.1);
}

}